/*RESET STYLES TO MATCH THE PAGE - FROM INSTRUCTOR REVIEW*/
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    padding: 15px;
}
.sub-section {
    font-style: italic;
}
/*FOOTER & SOCIAL MEDIA LINKS AREA*/
footer > p {
    float: left;
}
#social-media-links {
    float: right;
    background-color: transparent;
    border: none;
}
#social-media-links li {
    list-style-type: none;
    float: left;
    letter-spacing: 1em;
}
/*NEED PAGES STYLES FOR ALL SCREENS*/
/*DESKTOP SCREEN*/
@media screen and (min-width:992px){
    .hidden-on-desktop > a {
        display: none;
    }
    img {
        clear: both;
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    h1 {
        float: left;
    }
    .nav-links {
        float: right;
        padding: 1em;
    }
    .nav-links {
        list-style: none;
        padding: 0;
        margin: 20px;
    }
    .nav-links > li {
        display: inline;
        padding: 20px;
    }
    section {
        width: 50%;
    }
    .main {
        float: left;
    }
    .sub-section {
        float: right
    }
}
/*DEVICE SCREEN*/
@media screen and (max-width:991px){
    body {
        background-color: lightcyan;
    }
    .alert-info {
        border: 2px solid #add8e6;
        background-color: #add8e6;
        padding: 1em;
        text-align: center;
    }
    .alert-info {
        color: #000;
        text-decoration: none;
    }
    img {
        clear: both;
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    h1 {
        text-align: center;
    }
    .nav-links {
        padding-left: 0;
    }
    .nav-links li {
        background-color: #d3d3d3;
        padding: 1em;
        text-align: center;
        margin-bottom: .5em;
        list-style-type: none;
    }
}
