/*
this file is named "style.css" and is in a directory named "css"
*/

.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}
h2 {
    text-decoration: underline;
}
body {
    background-color: mediumaquamarine;
}
body {
    background-image: url(https://static.pexels.com/photos/4933/lake-animals-dogs-pets.jpg);
}
ol {
    list-style: upper-alpha;
}
ul {
    list-style: square;
}
body {
    font-family: 'Montserrat', sans-serif;;
}
a:link {
    color:red;
}
a:visited {
    color:black;
}
a:hover {
    color:blue;
}
a:active {
    color:green;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
    text-align: left;
}